.MainPhoto{
    min-height : 60vh ;
    background-image : url("../../Images/banner.jpg");
    background-size : 100% 100% ;

    position : relative ;
    .OverLay{
        display : flex ;
        align-items : center ;
        justify-content: center;
        text-align : center;
        position : absolute ;
        top : 0px ;
        height : 100% ;
        width : 100% ;
        background-color : rgba(0,0,0,.5) ;
    }
    color : #fff ;
    h2{
        text-transform: uppercase;
        font-size: 45px;
        margin-bottom: 10px ;
    }
    p{
        margin : 0px ;
        font-size : 20px ;
    }
}

// End of the Main Photo Component .

.KnowUs{
    display : flex;
    align-items :center ;
    justify-content: space-around ;
    min-height : 100vh ;
    width: 70% ;
    margin : auto ;
    flex-wrap : wrap ;
    margin-top : 20px ;
    padding : 10px ;
    .ImageContainer{
        img{
            width: 400px ;
            min-height : 600px ;
            @media (max-width:665px) {
                width : 100% ; 
                height: auto ;
            }
        }
    }
    .DiscContainer{
        padding : 20px ;
        width: 30% ;
        .Title{
            text-transform: capitalize;
        }
        @media (max-width:1422px) {
            width : 40% ; 
        }
        @media (max-width:1012px) {
            width : 90% ; 
            text-align : center;
        }
        //665
        @media (max-width:665px) {
            width : 100% ; 
            text-align : center;
        }
    }
}