.Header {
    transition: all .3s;
    overflow: hidden;
    position: absolute;
    width: 100%; 
    z-index : 3 ; 
    .Container {
        width: 90%;
        margin: auto;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        color : #fff ;
        h1 {
            margin: 0.25rem;
            .Logo {
                max-height: 50px;
            }
            .HeaderToggler {
                display: none;
            }
            @media (max-width: 622px) {
                margin: 0px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .HeaderToggler {
                    display: block;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
        .RoutsList {
            padding: 0px;
            list-style: none;
            display: flex;
            min-width: 30%;
            justify-content: space-around;
            li a {
                color: #fff;
                text-decoration: none;
            }
            @media (max-width: 1060px) {
                width: 50%;
            }
            @media (max-width: 622px) {
                width: 100%;
                flex-wrap: wrap;
                li {
                    width: 100%;
                    padding: 10px;
                }
            }
        }
    }
}

.HeaderOpened {
    background-color : rgba(0,0,0,.8) ;
    @media (max-width: 622px) {
        height: 250px;
    }
}

.HeaderClosed {
    @media (max-width: 622px) {
        height: 60px;
    }
}
.Sticky {
    background-color: #060030;
    position : fixed ;
}